<li>
  <%= gravatar_for user, size: Settings.user.gravatar_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !user.current_user?(current_user) %>
    <%= t "vertical_bar" %>
    <%= link_to t("delete"), user, method: :delete, data: {confirm: "You sure?"} %>
  <% end %>
</li>
